<!DOCTYPE html>
<html>
<head>
  <title>Stock Market Simulator</title>
</head>
<body>
  <header>
    <nav>
      <a href="{% url 'welcome_page' %}">Home</a>
      <a href="{% url 'make_trade' %}">Buy Stock</a>
      
    </nav>
    <form method="get" action="{% url 'stock_list' %}">
      <label for="stock_symbol">Search Stock:</label>
      <input type="text" id="stock_symbol" name="stock_symbol">
      <input type="submit" value="Search">
    </form>
    <div style="float: right;">
        <p>Balance: ${{ user.balance }}</p>
    </div>
  </header>
  <main>
    {% block content %}{% endblock %}
  </main>
</body>
</html>
