<!DOCTYPE html>
<html>

  <head>
    <title>Portfolio Home</title>
  </head>

  <body>
    <h1>Welcome to your Portfolio</h1>
    <h2>Your Balance: ${{ portfolio.balance }}</h2>

    <div class="center">
      <h2>Positions</h2>
      <table>
        <tr>
          <th>Symbol</th>
          <th>Name</th>
          <th>Price</th>
          <th>Market Cap</th>
          <th>Cost</th>
          <th>Change (%)</th>
          <th>Amount Owned</th>
        </tr>
        {% for stock in stocks %}
        <tr>
          <td>{{ stock.symbol }}</td>
          <td>{{ stock.name }}</td>
          <td>{{ stock.price }}</td>
          <td>{{ stock.market_cap }}</td>
          <td>{{ stock.cost }}</td>
          <td>{{ stock.change }}</td>
          <td>{{ stock.amount_owned }}</td>
        </tr>
        {% endfor %}
      </table>

      <div class="forms-container">
        <div class="form-center">
          <h3>Buy Stock</h3>
          <form method="post" class="form-inline">
            {% csrf_token %}
            <div class="block">
              <input class="form-control" id="add_stock" type="text"
                name="add_stock" placeholder="Symbol" value="{{ add_stock }}">
            </div>
            <div class="block" class="form-group">
              <input class="form-control" id="stocks_bought" type="text"
                name="stocks_bought" placeholder="Amount" value="{{
                stocks_bought }}">
            </div>
            <div class="block" class="form-group">
              <input class="form-control" id="buying_price" type="text"
                name="buying_price" placeholder="Limit Price" value="{{
                buying_price }}">
            </div>
            <div class="block" class="form-group">
              <input id="form-ok-btn" class="btn btn-outline-primary btn-sm"
                type="submit" value="Buy">
            </div>

            {% if error_message %}
            <span class="down">{{ error_message }}{{ stock_exists_message }}</span>
            {% endif %}
            {% if add_success_message %}
            <span class="up">{{ add_success_message }}</span>
            {% endif %}
          </form>
        </div>


        <div class="form-center">
          <h3>Sell Stock</h3>
          <form method="post" class="form-inline">
            {% csrf_token %}
            <div class="block">
              <input class="form-control" id="add_stock" type="text"
                name="add_stock" placeholder="Symbol" value="{{ add_stock }}">
            </div>
            <div class="block" class="form-group">
              <input class="form-control" id="stocks_bought" type="text"
                name="stocks_bought" placeholder="Amount" value="{{
                stocks_bought }}">
            </div>
            <div class="block" class="form-group">
              <input class="form-control" id="buying_price" type="text"
                name="buying_price" placeholder="Limit Price" value="{{
                buying_price }}">
            </div>
            <div class="block" class="form-group">
              <input id="form-ok-btn" class="btn btn-outline-primary btn-sm"
                type="submit" value="Sell">
            </div>

            {% if error_message %}
            <span class="down">{{ error_message }}{{ stock_exists_message }}</span>
            {% endif %}
            {% if add_success_message %}
            <span class="up">{{ add_success_message }}</span>
            {% endif %}
          </form>
        </div>
      </div>
    </div>













  </body>



</html>
