{% extends 'base.html' %}

<table>
  <thead>
    <tr>
      <th>Symbol</th>
      <th>Date</th>
      <th>Open</th>
      <th>High</th>
      <th>Low</th>
      <th>Close</th>
      <th>Volume</th>
    </tr>
  </thead>
  <tbody>
    {% for index, row in stock_df.iterrows %}
    <tr>
      <td>AAPL</td>
      <td>{{ index }}</td>
      <td>{{ row.Open }}</td>
      <td>{{ row.High }}</td>
      <td>{{ row.Low }}</td>
      <td>{{ row.Close }}</td>
      <td>{{ row.Volume }}</td>
    </tr>
    {% endfor %}

    
  </tbody>
</table>
<nav>
  <ul>
    <li><a href="../">Go back</a></li>
    <li><a href="/buy">Buy a Stock</a></li>
    <li><a href="/sell">Sell a Stock</a></li>
  </ul>
</nav>